USE [master]
GO
/****** Object:  Database [SWP_School_Management]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE DATABASE [SWP_School_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP_School_Management', FILENAME = N'E:\Program\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP_School_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP_School_Management_log', FILENAME = N'E:\Program\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP_School_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP_School_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP_School_Management]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[user_id] [int] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timetable_id] [int] NOT NULL,
	[day_slot_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [varchar](10) NOT NULL,
	[term_id] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaySlot]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaySlot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[slot_id] [int] NOT NULL,
	[day_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DaySlot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slot_id] [int] NOT NULL,
	[time] [varchar](16) NOT NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[student_name] [nvarchar](50) NOT NULL,
	[student_code] [varchar](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[address] [nvarchar](100) NULL,
	[phone] [varchar](11) NULL,
	[avatar] [varchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[class_id] [int] NOT NULL,
	[student_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subject_id] [varchar](10) NOT NULL,
	[subject_des] [varchar](80) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[teacher_id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_name] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[term_id] [int] IDENTITY(1,1) NOT NULL,
	[term_name] [varchar](12) NOT NULL,
	[term_start] [varchar](12) NULL,
	[team_end] [varchar](12) NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Term] PRIMARY KEY CLUSTERED 
(
	[term_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 7/26/2022 9:10:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [varchar](10) NOT NULL,
	[day_slot_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Timetable] PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [email], [password], [role], [user_id], [status]) VALUES (1, N'thongdthse161307@fpt.edu.vn', N'123456', N'student', NULL, 1)
INSERT [dbo].[Account] ([id], [email], [password], [role], [user_id], [status]) VALUES (2, N'duongnthe153731@fpt.edu.vn', N'$2a$10$JH1F2uJJen1PhCwhh3/btukRDPXXhRjW.rd6WxRB32GXtRPGu6t8C', N'admin', NULL, 1)
INSERT [dbo].[Account] ([id], [email], [password], [role], [user_id], [status]) VALUES (4, N'hoadnt@fe.edu.vn', N'hoadnt', N'teacher', NULL, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([id], [timetable_id], [day_slot_id], [student_id], [status]) VALUES (1, 62, 2, 2, 2)
INSERT [dbo].[Attendance] ([id], [timetable_id], [day_slot_id], [student_id], [status]) VALUES (2, 63, 8, 2, 2)
INSERT [dbo].[Attendance] ([id], [timetable_id], [day_slot_id], [student_id], [status]) VALUES (3, 64, 14, 2, 2)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([class_id], [class_name], [term_id]) VALUES (2, N'SE1624', 1)
INSERT [dbo].[Class] ([class_id], [class_name], [term_id]) VALUES (3, N'SE1625', 1)
INSERT [dbo].[Class] ([class_id], [class_name], [term_id]) VALUES (4, N'SE1626', 1)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[DaySlot] ON 

INSERT [dbo].[DaySlot] ([id], [slot_id], [day_id]) VALUES (1, 1, N'20220709  ')
INSERT [dbo].[DaySlot] ([id], [slot_id], [day_id]) VALUES (2, 2, N'20220709  ')
INSERT [dbo].[DaySlot] ([id], [slot_id], [day_id]) VALUES (3, 3, N'20220709  ')
GO
SET IDENTITY_INSERT [dbo].[DaySlot] OFF
GO
INSERT [dbo].[Slot] ([slot_id], [time]) VALUES (1, N'7:30-9')
INSERT [dbo].[Slot] ([slot_id], [time]) VALUES (2, N'dsd')
INSERT [dbo].[Slot] ([slot_id], [time]) VALUES (3, N'12')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([student_id], [student_name], [student_code], [email], [address], [phone], [avatar]) VALUES (2, N'Đỗ Tống Hoàng Thông', N'SE161307', N'thongdthse161307@fpt.edu.vn', N'sai gon', N'0990988231', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
INSERT [dbo].[StudentClass] ([class_id], [student_id]) VALUES (2, 2)
INSERT [dbo].[StudentClass] ([class_id], [student_id]) VALUES (4, 2)
GO
INSERT [dbo].[Subject] ([subject_id], [subject_des]) VALUES (N'MAS301', NULL)
INSERT [dbo].[Subject] ([subject_id], [subject_des]) VALUES (N'PRJ301', N'prj')
INSERT [dbo].[Subject] ([subject_id], [subject_des]) VALUES (N'SWP391', N'application')
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([teacher_id], [teacher_name], [address], [email]) VALUES (1, N'Đoàn Nguyễn Thế Hòa', N'Hồ Chí Minh', N'hoadnt@fe.edu.vn')
INSERT [dbo].[Teacher] ([teacher_id], [teacher_name], [address], [email]) VALUES (3, N'Lâm Hữu Khánh Phương', N'Biên Hòa', N'phuonglhk@fe.edu.vn')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[Term] ON 

INSERT [dbo].[Term] ([term_id], [term_name], [term_start], [team_end], [year]) VALUES (1, N'Summer2022', NULL, NULL, 2022)
INSERT [dbo].[Term] ([term_id], [term_name], [term_start], [team_end], [year]) VALUES (2, N'Fall2022', NULL, NULL, 2022)
SET IDENTITY_INSERT [dbo].[Term] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([timetable_id], [subject_id], [day_slot_id], [class_id], [status]) VALUES (1, N'SWP391', 3, 2, 1)
INSERT [dbo].[Timetable] ([timetable_id], [subject_id], [day_slot_id], [class_id], [status]) VALUES (2, N'SWP391', 9, 2, 1)
INSERT [dbo].[Timetable] ([timetable_id], [subject_id], [day_slot_id], [class_id], [status]) VALUES (3, N'SWP391', 15, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Account] ON [dbo].[Account]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendance]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Attendance] ON [dbo].[Attendance]
(
	[day_slot_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DaySlot]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DaySlot] ON [dbo].[DaySlot]
(
	[day_id] ASC,
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentClass]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentClass] ON [dbo].[StudentClass]
(
	[class_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetable]    Script Date: 7/26/2022 9:10:02 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Timetable] ON [dbo].[Timetable]
(
	[class_id] ASC,
	[day_slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_status]  DEFAULT ((2)) FOR [status]
GO
ALTER TABLE [dbo].[Term] ADD  CONSTRAINT [DF_Term_year]  DEFAULT ((2022)) FOR [year]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_DaySlot] FOREIGN KEY([day_slot_id])
REFERENCES [dbo].[DaySlot] ([id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_DaySlot]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Timetable] FOREIGN KEY([timetable_id])
REFERENCES [dbo].[Timetable] ([timetable_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Timetable]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Term] FOREIGN KEY([term_id])
REFERENCES [dbo].[Term] ([term_id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Term]
GO
ALTER TABLE [dbo].[DaySlot]  WITH CHECK ADD  CONSTRAINT [FK_DaySlot_Slot] FOREIGN KEY([slot_id])
REFERENCES [dbo].[Slot] ([slot_id])
GO
ALTER TABLE [dbo].[DaySlot] CHECK CONSTRAINT [FK_DaySlot_Slot]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_Class]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_Student]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Timetable_Class]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_DaySlot] FOREIGN KEY([day_slot_id])
REFERENCES [dbo].[DaySlot] ([id])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Timetable_DaySlot]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([subject_id])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_Timetable_Subject]
GO
USE [master]
GO
